body {
    padding: 5px;
    margin: 0;
}

label {
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}

.form-config, .content {
    padding: 5px;
    font-size: 14px;
}

.form-config textarea {
    width: 350px;
    height: 150px;
}

.result-cols {
    padding: 5px;
}

.column-name {
    width: 50px;
}

.column-memo {
    width: 80px;
    height: 60px;
}

.apply, .deploy {
    font-size: 14px;
    line-height: 1.5;
    background-color: #ffefcd;
    padding: 5px;
    border: 1px solid #ccc;
}

.deploy {
    background-color: #c6d0ff;
}

.collapsible {
    background-color: #ffbcbc;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
}

.content {
    display: none;
    padding: 5px;
}