body {
    padding: 5px;
    margin: 0;
}

label {
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}

.form-config {
    padding: 5px;
}

.form-config {
    font-size: 14px;
}

.form-config textarea {
    width: 250px;
    height: 80px;
}

.result-cols {
    padding: 5px;
}

.column-name {
    width: 80px;
}