body {
    padding: 5px;
    margin: 0;
}

label {
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;    
}

th:first-child, td:first-child {
    width: 65px;
    text-align: center;
}

input[type="file"] {
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.overflow {
    overflow-x : auto;
}

.no-wrap {
    white-space: nowrap;
}

.button {
    display: inline-block;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}

.tbl-input {
    margin-top: 10px;
    margin-bottom: 5px;
}

.tbl-result tr:hover {
    background-color: #f2f2f2;
}

.tbl-result th {
    position: sticky;
    top: 241px;
    z-index: 1;
}

.tbl-head-message, .tbl-head-memo {
    font-size: 12px;
    font-weight: lighter;
    background-color: #fcf9d2;
}

.tbl-head-message p {
    margin: 0;
}

.tbl-head-memo {
    background-color: #e4fcd7;
}

.tbl-input tbody td {
    background-color: #fdfdfd;
}

.tbl-illegal-col {
    border: 2px solid #ff6060;
    background-color: #fcc0c0;
}

.input-box {
    width: 60px;
}

.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-fixed div {
    padding: 3px 0 0 0;
}

.content {
    padding-top: 240px;
}

.rule-invalid {
    background-color: #fdc7c3;
}

.input-form-box {
    width: 250px;
}

.illegal {
    width: 302px;    
    color: black;
    border: 2px solid rgb(255, 159, 159);
    background-color: #ffffff;
}

.hidden {
    display: none;
}

.floating-box {
    background-color: #f8e5db;
    position: fixed;
    bottom: 50px;
    right: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    opacity: 0.9;
}
